<!-- Special folder and file name used to make sure this config was loaded at the last -->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <settings>
      <setting name="Item.History.RootPaths" value="/sitecore/content"/>
      <setting name="Item.History.ConnectionString" value="mongodb://localhost/item_history"/>
      <setting name="Item.History.SitecoreVersion" value="sc8"/>
      <setting name="Item.History.Environment" value="UAT"/>
    </settings>
    <events>
      <event name="item:saving">
        <handler type="SitecoreHistory.Events.ItemSavingEvent,SitecoreHistory" method="OnItemSaving">
          <param desc="Ignore fields">__Updated;__Revision</param>
        </handler>
      </event>
    </events>
    <pipelines>
      <publishItem>
        <processor type="SitecoreHistory.Processors.ItemPublishProcessor,SitecoreHistory">
        </processor>
      </publishItem>
    </pipelines>
  </sitecore>
</configuration>
